body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 1rem auto;
}

header {
    font-size: 2rem;
    padding: .5rem;
    text-align: center;
    background-color: purple;
    color: white;
    border-radius: 12px;
    margin: 1rem auto;
    max-width: 800px;
    width: 20rem;
}

section {
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 12px;
    margin: 1rem auto;
    max-width: 800px;
    align-items: center;
    width: 20rem;
    height: 25rem
}
.article1 {
    padding: 1.5rem;
    background-color: red;
    margin: .5rem auto;
    border-radius: 12px;
}
.article2 {
    padding: 1.5rem;
    background-color: red;
    margin: 1.5rem auto;
    border-radius: 12px;
}
.article3 {
    padding: 1.5rem;
    background-color: red;
    border-radius: 12px;
}

aside {
    font-size: 2rem;
    padding: .5rem;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 12px;
    margin: 1rem auto;
    max-width: 800px;
    width: 20rem;
}

footer {
    font-size: 2rem;
    padding: .5rem;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 12px;
    margin: 1rem auto;
    max-width: 800px;
    width: 20rem;
}

@media (min-width: 768px) {
  body {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  header,
  footer {
    width: 100%;
    max-width: none;
    padding: 1rem;
    margin: 0.5rem;
  }

  .middle-row {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: stretch;
    margin: 0.5rem;
    width: 100%;
    margin: 1rem auto;
  }

  section {
    flex: 3;
    max-width: 75%;
    background-color: green;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }

  .article1,
  .article2,
  .article3 {
    width: 85%;
    margin: 1rem 0; /* spacing between section edges and articles */
    background-color: red;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
  }

  aside {
    flex: 1;
    max-width: 20%;
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 1rem;
  }
}
